@media screen and (max-width: 900px) {
    .main__title {
        font-size: 72px;
    }
    .main__info {
        line-height: 33px;
    }
}
@media screen and (max-width: 650px) {
    .main__title {
        font-size: 36px;
    }
    .main__info {
        font-size: 12px;
        max-width: 220px;
        line-height: 18px;
    }
}

