@media screen and (max-width: 900px) {
    .main__title {
        font-size: 72px;
    }
    .main__img {
        
    }
}
@media screen and (max-width: 650px) {
    .main__title {
        font-size: 36px;
    }
    .main__info {
        font-size: 12px;
    }
    .nav__list {
        display: none
    }
}

